body {
    background-color: #E8DED080;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
}

h1 {
    background-color: #C92632;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 250%;
    font-family: 'Courier New', Courier, monospace;
}

#content {
    width: 700px;
    background-color: white;
    margin: auto;
    padding-top: 5px;
    height: 800px;
    margin-bottom: 10px;
    border-top: 15px solid #C92632;
    border-bottom: 15px solid #C92632;
}

h2 {
    padding-left: 75px;
    font-size: 150%;
}

#nappulat {
    text-align: center;
}

.autoPainike {
    border: none;
    border-radius: 12px;
    width: 175px;
    height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px;
    margin-top: 0;
    font-size: 135%;
    background-color: #C92632;
    color: white;
}

.autoPainike:hover {
    background-color: white;
    border: 2px solid #C92632;
    color: #C92632;
}

#autonKulutus {
    width: 100%;
    text-align: center;
}

#kulutus,
.autot {
    font-size: 125%;
    position: relative;
    width: 50%;
    float: left;
}

#kulutus {
    text-align: right;
    right: 10px;
}

.autot {
    font-weight: bold;
    text-align: left;
    left: 10px;
}

#etaisyysIn {
    text-align: center;
}

#nopeudet {
    display: flex;
}

#ekaNopeus,
#tokaNopeus {
    flex: 1;
}

#ekaNopeus {
    margin-left: 60px;
}

#tokaNopeus {
    margin-left: 0;
}

.input {
    margin: 10px;
}

label {
    font-size: 125%;
    margin-bottom: 15px;
}

input[type=number] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px 20px;
    font-size: 125%;
    border: 1px solid #C9263260;
    border-radius: 4px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=number]:focus {
    outline: none;
    border: 2px solid #C92632;
}

#nappi {
    text-align: center;
    margin-top: 20px;
}

#laske {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #C92632;
    height: 50px;
    width: 265px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 125%;
    background-color: white;
}

#laske:hover {
    background-color: #C92632;
    color: white;
}

#vertailut {
    display: flex;
}

#ekat,
#tokat {
    flex: 1;
    padding-top: 30px;
    padding-bottom: 10px;
}

#ekat p,
#tokat p {
    padding-left: 30px;
}

h3 {
    text-align: center;
    background-color: #C92632;
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: lighter;
}

#ekat h3 {
    border-right: 1px solid white;
}

#tokat h3 {
    border-left: 1px solid white;
}

#ero {
    border-top: 1px solid #C92632;
    text-align: center;
}

#aikojenEro {}